@font-face {
    font-family: TradeGothicBold;
    src: url("Trade Gothic LT Bold.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: NotoSerifOldUyghur;
    src: url("NotoSerifOldUyghur-Regular.ttf");
}

:root {
    font-family: RobotoRegular, sans-serif;
    --brandDarkBlue: #1E3765;
    --brandMedBlue: #007FA3;
    --brandLightBlue: #6FC7EA;
    --brandPurple: #6D247A;
    --brandPink: #AB1368;
    --brandDarkGreen: #0D534D;
    --brandMedGreen: #00A189;
    --brandLightGreen: #8DBF2E;
    --brandRed: #DC4633;  
    --brandYellow: #F1C500;
    --brandBlack: #000000;
    --brandWhite: #ffffff;
    --brandGray: #D0D1C9;
    --brandGray70: #4d4d4d;
    --brandGray80: #333333;
    --brandGray90: #191919;
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-family: TradeGothicBold;
    color: var(--brandRed);
    font-size: 52px;
}

h2 {
    font-family: TradeGothicBold;
    color: var(--brandDarkBlue);
    font-size: 28px;
}

h3 {
    font-family: TradeGothicBold;
    color: var(--brandBlack);
    font-size: 21px;
}

p {
    font-family: NotoSerifOldUyghur;
    font-size: 17px;
    line-height: 27px;
}

a {
    text-decoration: none;
    color: var(--brandMedBlue);
}

a:hover {
    color: var(--brandMedGreen);
}

.title {
    background-color: none;
    max-width: 700px;
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
}

.text {
    background-color: none;
    max-width: 700px;
    min-width: 400px;
    width: calc(100% - 18px - 18px);
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
}

.wideImage {
    background-color: none;
    max-width: 900px;
    min-width: 400px;
    width: calc(100% - 18px - 18px);
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
}

.chartGrid2019 {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Max 3 columns per row */
    grid-gap: 10px; /* Adjust the gap between items as needed */
}

.yellow {
    background-color: var(--brandYellow);
    padding-left: 2px;
    padding-right: 2px;
}

.red {
    background-color: var(--brandRed);
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}